.part-structure .link-selected .text {
-fx-font-weight: bold;
}

.tree-cell:disabled {
-fx-text-fill: gray !important;
}

.palette-separator {
    -fx-min-height: 1.666667em;
    -fx-min-width: 1.666667em;
    -fx-pref-height: 2.2em;
    -fx-pref-width: 2.2em;
    -fx-border-radius: 0.5em;
    -fx-border-color: transparent;
}

.palette-separator.selected {
    -fx-border-radius: 0.5em;
    -fx-border-width: 2px;
    -fx-border-color: black;
}

.pyxyzygy-disabled .text {
-fx-opacity: 0.5;
}
